body{
    color: white;
    background-color: black;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: column; 
    width: 90%;
    margin: auto;
}
#homesection{
    width: 100%;
    background: url(/media.svg/Rectangle\ 17.png);
    background-size: contain;
}
.firstheader{
    position: relative;
    height: 4rem;
    margin: auto 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid white;
}
header p{
    letter-spacing: 3px;
    align-self: center;
}
a{
    text-decoration: none;
    color: white;
    border-bottom: 3px solid transparent;
    padding: 1rem;
}
a:hover{
    border-bottom-color: rgb(252, 202, 184);
    position: relative;
    color: rgb(252, 202, 184);
    bottom: -3px;
}
.navbar{
    color: blue;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 4rem;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 30rem;
    padding: auto;
}
.differentwidth{
    width: 30rem;
    font-size: 30px;
}
.below{
    font-size: 35px;
    width: 25rem;
}
.pink{
    color: rgb(252, 202, 184);
}
.room{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    gap: 0.5rem;
}
.samewidth button{
    width: 8rem;
    height: 1.8rem;
    border-radius: 3px;
    text-decoration: none;
}
button{
    border: 0;
}
.samewidth{
    width: 25rem;
    display: flex;
    gap: 1rem;
    align-self: center;
    margin-top: 2rem;
}
.button1{
    background-color: rgb(252, 202, 184);
}
.button2{
    border: 2px solid rgb(252, 202, 184);
    background-color: transparent;
    color: rgb(252, 202, 184);
}
.homefooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding-bottom: 3rem;
    padding-top: 8rem;
}
.homefooter h6{
    margin-bottom: 1rem;
    align-self: center;
    justify-self: center;
    letter-spacing: 3px;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.firstheader button{
    border: 0;
    background-color: rgb(252, 202, 184);
    width: 7rem;
    height: 2rem;
    border-radius: 5px;
    align-self: center;
}
button:hover{
    cursor: pointer;
}
.secondsection{
    color: #230A01;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.secondsection ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
}
.secondsection li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.secondsection div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    gap: 0.2rem;
}
.secondsection h3{
    margin-top: 5rem;
    font-size: 42px;
}
.secondsection button{
    background-color: rgb(252, 202, 184);
    height: 1.8rem;
    width: 10rem;
    border-radius: 3px;
    margin-top: 3rem;
    margin-bottom: 5rem;
}
.thirdsection{
    background-color: rgb(254, 229, 220);
    color: #230A01;
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
}
.thirdsection header{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 15rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
.shortstory{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}
.shortstory p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0;
    font-size: 18px;
    width: 30rem;
}
.button3{
    width: 10rem;
    height: 2.5rem;
    background-color: transparent;
    border: 1px solid #230A01;
    border-radius: 6px;
}
.artist{
    width: 400px;
    height: auto;
}
.middlepart{
    background: url(/media.svg/curve\ bg.png);
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: 100%;
    height: fit-content;
    padding-top: 13rem;
    margin-bottom: 3rem;
    padding-bottom: 13rem;
    margin-top: 3rem;
    color: #230A01;
}
.excellence p{
    font-size: 35px;
}
.excellence{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.middlepart h2{
    font-size: 40px;
}
.lineargradient{
    height: 18rem;
    width: 1.5rem;
    background-color: aqua;
    border-radius: 20px;
}
.circle{
    font-size: 25px;
    height: 9rem;
    width: 10rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 20px solid yellow;
}
.firstedge{
    width: 90%;
    padding-left: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}
.promotions div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.promotions{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.iconsimg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.follow{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}